<div class="row">
    <div class="col-sm-8 col-sm-offset-2 c-form section-description wow fadeIn">
        <h1>Jobs</h1>
        <p>Imagine we have a list of jobs, each represented by a character. Because certain jobs must be done before others, a job may have a dependency on another job...</p>
    </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3 c-form-box wow fadeInUp">
        <div class="c-form-top">
          <div class="c-form-top-left">
            <h3>List your jobs first...</h3>
            <p>Fill in the form below to create your list of jobs:</p>
          </div>
          <div class="c-form-top-right">
            <div class="c-form-top-right-icon">
              <i class="fa fa-cogs"></i>
            </div>
          </div>
          </div>
          <div class="c-form-bottom">
          <form>
            <div class="form-group" id="new-job">
              <label for="c-form-job">
                <span class="label-text">I have to do job</span>
                <span class="contact-error"></span>
              </label>
                <input type="text" name="job" placeholder="describe the job" class="c-form-name form-control" id="c-form-job">
              </div>
              <div class="form-group">
                <label for="c-form-previousjob">
                <span class="label-text">which depends on</span>
                <span class="contact-error"></span>
              </label>
                <input type="text" name="previousjob" placeholder="describe the depending job" class="c-form-previousjob form-control" id="c-form-previousjob">
              </div>
              <button class="btn">Add</button>
          </form>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3 c-form-info-title wow fadeInUp">
    <div class="c-form-top">
      <div class="c-form-top-left">
        <h3>review your jobs...</h3>
        <p>and press the button to order them!</p>
      </div>
      <div class="c-form-top-right">
        <div class="c-form-top-right-icon">
          <i class="fa fa-magic" id="order-button"></i>
        </div>
      </div>
      </div>
      <div class="c-form-bottom">
      <center id="jobs-list">
      </center>
    </div>
  </div>
</div>
